<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mybbs</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/style.css">    
    <script src="js/script.js" defer></script>
</head>
<body>
<div class="container pt-5">
    <h1 class="text-center">자유게시판</h1>
    <p class="text-center mb-5 pb-5">jsp + servlet으로 디자인 할 자유 게시판입니다.</p>

    <!-- design list -->
    <div class="title py-15">
        제목입니다. 오늘의 제목은 제목입니다.
    </div>
    <div class="d-flex border-bottom">
        <div class="col-md-6">
           <label class="d-title py-10">등록자명</label>
           심*명 
        </div>
        <div class="col-md-6">
           <label class="d-title py-10">등록일</label>
           2025-02-17
        </div>
    </div>
    <div class="d-flex border-bottom">
        <div class="col-md-3">
           <label class="d-title py-10">조회수</label>
           4
        </div>
        <div class="col-md-9">

        </div>
     </div>   
     <div class="content p-50 border-bottom">
            수고하십니다.
저는 75세 남성입니다.
금년에 아동지킴이활동을 하고자 신청 했는데 선발되지 못 했습니다. 체력은 충분한데 기본점수가. 부족해서 선발이 안되었는데 국가를. 위하여 헌신한 국가유공자도 기본점수에 포함해 주시면 감사하겠습니다
     </div>

     <div class="d-flex justify-content-end pt-20">
        <a href="list.html" class="btn">목록</a>
        <a href="write.html" class="btn ms-10">글쓰기</a>
        <a href="write.html" class="btn ms-10">수정</a>
        <a href="write.html" class="btn ms-10">삭제</a>
     </div> 

    </div>
   
    <!--/design list-->
</div>
</body>
</html>    