<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mybbs</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/style.css">    
    <script src="js/script.js" defer></script>
</head>
<body>
<div class="container pt-5">
    <h1 class="text-center">자유게시판</h1>
    <p class="text-center mb-5 pb-5">jsp + servlet으로 디자인 할 자유 게시판입니다.</p>

    <!-- design list -->

    <!--/design list-->
</div>
</body>
</html>    